<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito Movil</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="hamburguesa_movil"></div>
    <div class="logo_empresa_movil"></div>
    <a href="#" class="inicio_sesion_movil">Iniciar Sesion</a>
    <div class="logo_inicio_sesion_movil"></div>
    <div class="logo_carrito_movil"></div>
    <div class="hamburguesa2_movil"></div>
    <div class="opciones_secundarias_movil">
        <div class="osm">
            <a href="#" class="inicio_movil">Inicio</a>
            <a href="#" class="promociones_movil">Promociones</a>
            <a href="#" class="cupones_descuento_movil">Cupones</a>
            <a href="#" class="chatbox_movil">ChatBox</a>
            <a href="#" class="servicio_cliente_movil">Servicio al Cliente</a>
        </div>
    </div>
    <div class="ubicacion">
        <i></i>
        <a href="#" class="envio">Enviar a Bogota</a>
    </div>
    <div class="opciones_parte1">
        <a class="subtotal_car_mov">Subtotal</a>
        <a class="subtotal_precio_mov">$CO</a>
        <a href="#" class="finalizar_pedido_mov">Finalizar Pedido de (N) Productos</a>
    </div>
    <div class="opciones_parte2">
        <input type="checkbox" name="check_agregar" id="check_agregar"><a class="msg_check">Agregar Recibo del Pedido</a>
    </div>
    <div class="alimento_agregado_mov">
        <div class="img_prod_mov"></div>
        <div class="atributos_alimento_mov">
            <a class="nom_prod">Nombre Alimento 1</a><br>
            <br>
            <a class="puntuacion">Puntuacion</a><br>
            <br>
            <a class="detalle">Detalle</a>
        </div>
        <div class="opciones_control_mov">
            <a class="menos">-</a>
            <a class="uno">1</a>
            <a class="mas">+</a>
            <a href="#" class="quitar_mov">Quitar</a>
            <a href="#" class="agregar_lista_deseos_mov">Agregar a La Lista de Deseos</a>
        </div>
    </div>
    <div class="alimento_agregado_mov2">
        <div class="img_prod_mov"></div>
        <div class="atributos_alimento_mov">
            <a class="nom_prod">Nombre Alimento 2</a><br>
            <br>
            <a class="puntuacion">Puntuacion</a><br>
            <br>
            <a class="detalle">Detalle</a>
        </div>
        <div class="opciones_control_mov">
            <a class="menos">-</a>
            <a class="uno">1</a>
            <a class="mas">+</a>
            <a href="#" class="quitar_mov">Quitar</a>
            <a href="#" class="agregar_lista_deseos_mov">Agregar a La Lista de Deseos</a>
        </div>
    </div>
    <section>
        <article>
            <div class="sugerencias_compras_anteriores_mov">Sugerencias segun tus compras anteriores</div>
        </article>
    </section>
    <section>
        <article>
            <div class="alimento_sugerencia_mov">
                <div class="imagen_alimento_sugerencia_mov"></div>
                <a class="nombre_alimento_sug_mov">Nombre</a><br>
                <a class="precio_alimento_sug_mov">Precio</a><br>
                <a href="#" class="agregar_carrito_mov">Agregar al Carrito</a>
            </div>
            <div class="alimento_sugerencia_mov2">
                <div class="imagen_alimento_sugerencia_mov"></div>
                <a class="nombre_alimento_sug_mov">Nombre</a><br>
                <a class="precio_alimento_sug_mov">Precio</a><br>
                <a href="#" class="agregar_carrito_mov">Agregar al Carrito</a>
            </div>
        </article>
    </section>
</body>
</html>