<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito: Web</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="menu_navegacion">
        <div>
                <a href="#" class="one">Iniciar Sesión</a>
                <a href="#" class="two">¿Quienes somos?</a>
                <a href="#" class="three">Contactanos</a>
                <a href="../html_web/deseas_comprar_algo.html" class="four">¿Deseas comprar algo?</a>
                <a href="#" class="five">Trabaja con Nosotros</a>
        </div>
    </div>
    <!--Menu donde se encuentra Restaurante Desplegable-->
    <div class="caja1"></div>
    <div class="logo_empresa"></div>
    <div class="caja_opciones"></div>
    <div class="restaurante_desplegable"><a href="#">Restaurantes V</a></div>
    <input type="search" name="busqueda" class="busqueda" />
    <div class="lupa_busqueda"></div>
    <div class="logo_usuario"></div>
    <div class="logo_carrito_compras"></div>
    <div class="user_car">
        <a href="#" class="user">USUARIO</a>
        <a href="#" class="car">CARRITO</a>
    </div>
    <div class="opciones_secundarias"></div>
    <div class="hamburguesa"></div>
    <div class="cuadros_menu">
        <div>
            <a href="../html_web/home_web.html" class="six_carrito_web">Inicio</a>
            <a href="#" class="seven_carrito_web">Promociones</a>
            <a href="#" class="eight_carrito_web">Cupones de Descuento</a>
            <a href="#" class="nine_carrito_web">Chatbox</a>
            <a href="#" class="ten_carrito_web">Servicio al Cliente</a>
        </div>
    </div>
    <section>
        <article>
            <div class="cuadro_subtotal">
                <a class="subtotal">Subtotal(N) Productos</a><br>
                <a class="precio_sub">Precio: 0$</a>
                <a href="#" class="finalizar_pedido">Finalizar Pedido</a>
            </div>
        </article>
        <h4 class="titulo_alimentos_relacionados">Alimentos Relacionados Con Tu Compra</h4>
    </section>
    <section>
        <article>
            <div class="cuadro_alimentos_relacionados">
                <div class="prod1">
                    <div class="imagen_producto"></div>
                    <a class="nombre_producto">Nombre Producto</a>
                    <a href="#" class="detalle_producto">Detalles</a>
                </div>
                <div class="prod2">
                    <div class="imagen_producto"></div>
                    <a class="nombre_producto">Nombre Producto</a>
                    <a href="#" class="detalle_producto">Detalles</a>
                </div>
                <div class="prod3">
                    <div class="imagen_producto"></div>
                    <a class="nombre_producto">Nombre Producto</a>
                    <a href="#" class="detalle_producto">Detalles</a>
                </div>
            </div>
        </article>
    </section>
    <div class="precio_alimento">Precio</div>
    <section>
        <article>
            <div class="alimento_agregado1">
                <div class="img_prod"></div>
                <a class="precio_sub_unit">$CO</a>
                <div class="atributos_alimento">
                    <a class="nom_prod">Nombre Alimento 1</a><br>
                    <br>
                    <a class="puntuacion">Puntuacion</a><br>
                    <br>
                    <a class="detalle">Detalle</a>
                </div>
                <div class="opciones_control">
                    <a class="cantidad">Cantidad V + -</a>
                    <a href="#" class="quitar">Quitar</a>
                    <a href="#" class="agregar_lista_deseos">Agregar a La Lista de Deseos</a>
                </div>
            </div>
            <div class="alimento_agregado2">
                <div class="img_prod"></div>
                <a class="precio_sub_unit">$CO</a>
                <div class="atributos_alimento">
                    <a class="nom_prod">Nombre Alimento 2</a><br>
                    <br>
                    <a class="puntuacion">Puntuacion</a><br>
                    <br>
                    <a class="detalle">Detalle</a>
                </div>
                <div class="opciones_control">
                    <a class="cantidad">Cantidad V + -</a>
                    <a href="#" class="quitar">Quitar</a>
                    <a href="#" class="agregar_lista_deseos">Agregar a La Lista de Deseos</a>
                </div>
            </div>
            <div class="alimento_agregado3">
                <div class="img_prod"></div>
                <a class="precio_sub_unit">$CO</a>
                <div class="atributos_alimento">
                    <a class="nom_prod">Nombre Alimento 3</a><br>
                    <br>
                    <a class="puntuacion">Puntuacion</a><br>
                    <br>
                    <a class="detalle">Detalle</a>
                </div>
                <div class="opciones_control">
                    <a class="cantidad">Cantidad V + -</a>
                    <a href="#" class="quitar">Quitar</a>
                    <a href="#" class="agregar_lista_deseos">Agregar a La Lista de Deseos</a>
                </div>
            </div>
            <div class="subtotal_precio">
                <a href="#" class="subtotal_final">Subtotal (N) Productos</a>
                <a href="#" class="precio_subtotal">$CO Subtotal</a>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="sugerencias_compras_anteriores">Sugerencias segun tus compras anteriores</div>
        </article>
    </section>
    <section>
        <article>
            <div class="alimento_sugerencia">
                <div class="imagen_alimento_sugerencia"></div>
                <a class="nombre_alimento_sug">Nombre</a><br>
                <a class="precio_alimento_sug">Precio</a><br>
                <a href="#" class="agregar_carrito">Agregar al Carrito</a>
            </div>
        </article>
    </section>
</body>
</html>