<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>¿Deseas Comprar Algo?: Movil</title>
</head>
<body>
    <div class="hamburguesa_movil"></div>
    <div class="logo_empresa_movil"></div>
    <a href="#" class="inicio_sesion_movil">Iniciar Sesion</a>
    <div class="logo_inicio_sesion_movil"></div>
    <div class="logo_carrito_movil"></div>
    <div class="hamburguesa2_movil"></div>
    <div class="opciones_secundarias_movil">
        <div class="osm">
            <a href="#" class="inicio_movil">Inicio</a>
            <a href="#" class="promociones_movil">Promociones</a>
            <a href="#" class="cupones_descuento_movil">Cupones</a>
            <a href="#" class="chatbox_movil">ChatBox</a>
            <a href="#" class="servicio_cliente_movil">Servicio al Cliente</a>
        </div>
    </div>
    <div class="filtros_dca_movil">
        <a href="#" class="filtros_dca_movil_desplegable">Filtros V</a>
    </div>
    <div class="sandwich_movil">
        <a class="pregunta_sandwich_movil">¿Se te antoja un buen Sandwich?</a>
        <div class="imagen_sandwich_movil"></div>
    </div>
    <div class="hamburguesa_alimento_movil">
        <a class="pregunta_hamburguesa_alimento_movil">¿Quieres Deleitarte Con Una Hamburguesa?</a>
        <div class="imagen_hamburguesa_alimento_movil"></div>
    </div>
    <div class="vegetales_movil">
        <a class="pregunta_vegetales_movil">¿Los vegetales son tu fuerte?</a>
        <div class="imagen_vegetales_movil"></div>
    </div>
    <div class="algo_rapido_movil">
        <a class="pregunta_algo_rapido_movil">¿Quieres algo rapido?</a>
        <div class="imagen_algo_rapido_movil"></div>
    </div>
    <!--Lo mas pedido-->
    <div class="lo_mas_pedido_movil">¡Lo mas Pedido!</div>
    <div class="lmpm1">
        <div class="img_lmpm1"></div>
    </div>
    <div class="lmpm2">
        <div class="img_lmpm2"></div>
    </div>
    <div class="lmpm3">
        <div class="img_lmpm3"></div>
    </div>
    <div class="lmpm4">
        <div class="img_lmpm4"></div>
    </div>
    <div class="pie_de_pagina_movil">
        <a href="#" class="boton_inicio_movil">¡Ir hacia el Inicio!</a>
    <div class="prefooter_movil">
        <ul class="elem_pref_movil1">
            <em><strong><li><a href="#">FoodWays Web</a></li><br>
            <li><a href="#">Registro y Login</a></li><br>
            <li><a href="#">Medios de pago</a></li><br>
            <li><a href="#">Todos los<br>Restaurantes</a></li><br>
            <li><a href="#">Acerca de la<br>Compañia</a></li><bR>
            <li><a href="#">Mision y Vision</a></li><br>
            <li><a href="#">Empleate con un <br>Restaurante</a></li><br></em></strong>
        </ul>
        <ul class="elem_pref_movil2">
            <em><strong><li><a href="#">Tu Cuenta</a></li><br>
                <li><a href="#">Tus Pedidos</a></li><br>
                <li><a href="#">Tarifas de Envio y<br>Politicas </a></li><br>
                <li><a href="#">Devoluciones y<br>Reemplazos</a></li><br>
                <li><a href="#">Acerca de la<br>Compañia</a></li><bR>
                <li><a href="#">Ayuda</a></li><br>
                <li><a href="#">Consultas</a></li></em></strong>
        </ul>
    </div>
    <div class="footer_movil">
        <footer class="elementos_footer_movil">
            <a href="#" class="elem_foot_movil1">Condiciones de Uso</a>
            <a href="#" class="elem_foot_movil2">Avisos de Privacidad</a><br>
            <a class="elem_foot_movil3">2021-2021 &copy FoodWays.com y Asociados</a>
        </footer>
    </div>
    </div>
</body>
</html>