<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css" />
    <title>¿Deseas Comprar Algo?</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <!--Menu Principal-->
    <div class="menu_navegacion">
        <div>
                <a href="#" class="one">Iniciar Sesión</a>
                <a href="#" class="two">¿Quienes somos?</a>
                <a href="#" class="three">Contactanos</a>
                <a href="../html_web/deseas_comprar_algo.html" class="four">¿Deseas comprar algo?</a>
                <a href="#" class="five">Trabaja con Nosotros</a>
        </div>
    </div>
    <!--Menu donde se encuentra Restaurante Desplegable-->
    <div class="caja1"></div>
    <div class="logo_empresa">
        <img src="../public/img/img_foodways.png" class="imagen1">
    </div>
    <div class="caja_opciones"></div>
    <div class="restaurante_desplegable"><a href="#">Restaurantes V</a></div>
    <input type="search" name="busqueda" class="busqueda" />
    <div class="lupa_busqueda">
        <i class="fas fa-search"></i>
    </div>
    <div class="logo_usuario">
    <img src="../public/img/user-regular.svg" class="logo_user" alt="">
    </div>
    <div class="logo_carrito_compras">
        <img src="../public/img/shopping-cart-solid.svg" alt="" class="logo_car">
    </div>
    <div class="user_car">
        <a href="#" class="user">USUARIO</a>
        <a href="#" class="car">CARRITO</a>
    </div>
    <div class="opciones_secundarias"></div>
    <div class="hamburguesa"></div>
    <div class="cuadros_menu">
        <div>
            <a href="../html_web/home_web.html" class="six">Inicio</a>
            <a href="#" class="seven">Promociones</a>
            <a href="#" class="eight">Cupones de Descuento</a>
            <a href="#" class="nine">Chatbox</a>
            <a href="#" class="ten">Servicio al Cliente</a>
        </div>
    </div>
    <div class="anuncio_dca">
        <img src="../public/img/collage_comida.jpg" alt="" class="collage_comida">
    </div>
    <div class="cuadro_opciones_sugerencias">
        <div>
            <a class="mostrando_n_sugerencias">Mostrando 1 de 20 de 50 Sugerencias Disponibles</a>
            <a class="ordenar_por">Ordenar Por</a>
            <a href="#" class="desplegable_opciones">Lo mas Destacado V</a>
        </div>
    </div>
    <div class="filtros">
        <ul class="opciones_filtro">
            <em><strong><li><a href="#" class="comida_rapida">Comida Rapida</a></li><br>
            <li><a href="#" class="ensaladas">Ensaladas</a></li><br>
            <li><a href="#" class="snacks">Snacks</a></li><br>
            <li><a href="#" class="postres">Postres</a></li><br>
            <li><a href="#" class="mas">Mas</a></li></em></strong>
        </ul>
    </div>
    <div class="precios">
        <h1>Precios</h1>
        <ul class="opciones_precios">
            <em><strong><li><a href="#" class="precio1">Entre: $5000 y $15000</a></li><br>
            <li><a href="#" class="precio2">Entre: $15000 y $30000</a></li><br>
            <li><a href="#" class="precio3">Entre: $30000 y $50000</a></li><br>
            <li><a href="#" class="precio4">Entre: $50000 y $75000</a></li><br>
            <li><a href="#" class="precio5">Entre: $75000 y $100000</a></li></em></strong>
        </ul>
    </div>
    <div class="sandwich">
        <a class="pregunta_sandwich">¿Se te antoja un buen sandwich?</a>
        <div class="imagen_sandwich">
            <img src="../public/img/imagen_sandwich.jpg" class="img_sandwich_sub" alt="">
        </div>
        <a href="#" class="haz_click_aqui">¡Haz Click Aqui!</a>
    </div>
    <div class="hamburguesa_alimento">
        <a class="pregunta_hamburguesa">¿Quieres deleitarte con una Hamburguesa?</a>
        <div class="imagen_hamburguesa">
            <img src="../public/img/img_hamburguesa.jpg" class="img_hamb" alt="">
        </div>
        <a href="#" class="haz_click_aqui">¡Haz Click Aqui!</a>
    </div>
    <div class="vegetales">
        <a class="pregunta_vegetales">¿Los Vegetales Son Tu Fuerte?</a>
        <div class="imagen_vegetales">
            <img src="../public/img/img_ensalada.jpg" class="img_ensalada" alt="">
        </div>
        <a href="#" class="haz_click_aqui">¡Haz Click Aqui!</a>
    </div>
    <div class="algo_rapido">
        <a class="pregunta_algo_rapido">¿Quieres Algo Rapido?</a>
        <div class="imagen_algo_rapido">
            <img src="../public/img/img_a_r.jpg" class="img_a_r" alt="">
        </div>
        <a href="#" class="haz_click_aqui">¡Haz Click Aqui!</a>
    </div>
    <div class="dulce">
        <a class="pregunta_dulce">¿Tu Paladar Te Exige Dulce?</a>
        <div class="imagen_dulce">
            <img src="../public/img/dulce.jpg" class="dulce_img" alt="">
        </div>
        <a href="#" class="haz_click_aqui">¡Haz Click Aqui!</a>
    </div>
    <h1 class="lo_mas_pedido">¡Lo Mas Pedido!</h1>
    <div class="mas_pedido1">
        <div class="imagen_mas_pedido1">
            <img src="../public/img/img_lpm1.png" class="lmp1" alt="">
        </div>
        <a href="#" class="saber_mas">¡Saber Mas!</a>
    </div>
    <div class="mas_pedido2">
        <div class="imagen_mas_pedido2">
            <img src="../public/img/img_lmp2.png" class="lmp2" alt="">
        </div>
        <a href="#" class="saber_mas">¡Saber Mas!</a>
    </div>
    <div class="mas_pedido3">
        <div class="imagen_mas_pedido3">
            <img src="../public/img/img_lmp3.png" class="lmp3" alt="">
        </div>
        <a href="#" class="saber_mas">¡Saber Mas!</a>
    </div>
    <div class="mas_pedido4">
        <div class="imagen_mas_pedido4">
            <img src="../public/img/img_lmp4.png" class="lmp4" alt="">
        </div>
        <a href="#" class="saber_mas">¡Saber Mas!</a>
    </div>
    <div class="mas_pedido5">
        <div class="imagen_mas_pedido5">
            <img src="../public/img/img_lmp5.png" class="lmp5" alt="">
        </div>
        <a href="#" class="saber_mas">¡Saber Mas!</a>
    </div>
    <div class="mas_pedido6">
        <div class="imagen_mas_pedido6">
            <img src="../public/img/img_lmp6.png" class="lmp6" alt="">
        </div>
        <a href="#" class="saber_mas">¡Saber Mas!</a>
    </div>
    <h1 class="busquedas_relacionadas">Busquedas relacionadas</h1>
    <div class="busq_rel">
        <div class="busquedas_rel1">
            <a href="#" class="busqueda_rel1">Busqueda Relacionada 1</a>
            <a href="#" class="busqueda_rel2">Busqueda Relacionada 2</a>
            <a href="#" class="busqueda_rel3">Busqueda Relacionada 3</a>
        </div>
        <div class="busquedas_rel2">
            <a href="#" class="busqueda_rel4">Busqueda Relacionada 4</a>
            <a href="#" class="busqueda_rel5">Busqueda Relacionada 5</a>
            <a href="#" class="busqueda_rel6">Busqueda Relacionada 6</a>
        </div>
    </div>
    <br>
    <div class="pie_pagina">
        <!--Boton de Inicio-->
        <a href="#" class="boton_inicio">¡Ir Hacia el Inicio!</a>
        <!--PreFooter-->
        <div class="cuadro_prefooter"></div>
        <div class="semiseccion1">
            <h1 class="tit_pref1">Acerca De</h1>
            <ul>
                <em><strong><li><a href="#">FoodWays Web</a></li>
                <li><a href="#">Registro y Login</a></li>
                <li><a href="#">Medios de Pago</a></li>
                <li><a href="#">Todos los restaurantes</a></li>
                <li><a href="#">Acerca de la Compañia</a></li>
                <li><a href="#">Mision y Vision</a></li>
                <li><a href="#">¡Empleate con un Retarante!</a></li></em></strong>
            </ul>
        </div>
        <div class="semiseccion2">
            <h1 class="tit_pref2">Más Servicios</h1>
            <ul>
                <em><strong><li><a href="#">Tu Cuenta</a></li>
                <li><a href="#">Tus Pedidos</a></li>
                <li><a href="#">Tarifas de Envio y Politicas</a></li>
                <li><a href="#">Devoluciones y Reemplazos</a></li></em></strong>
            </ul>
        </div>
        <div class="semiseccion3">
            <h1 class="tit_pref3">Consultas y Ayuda</h1>
            <ul>
                <em><strong><li><a href="#">Consultas</a></li>
                <li><a href="#">Ayuda</a></li></em></strong>
            </ul>
        </div>
        <div class="semiseccion4">
            <h1 class="iti_pref4">FoodWays Movil</h1>
            <ul>
                <em><strong><li><a href="#">Android</a></li>
                <li><a href="#">iOS</a></li></em></strong>
            </ul>
        </div>
        <!--Footer-->
        <div class="footer">
            <footer class="elementos_footer">
                <a href="#" class="elem_foot1">Condiciones de Uso</a>
                <a href="#" class="elem_foot2">Avisos de Privacidad</a>
                <a class="elem_foot3">2021-2021 &copy FoodWays.com y Asociados</a>
            </footer>
        </div>
    </div>
</body>
</html>