<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deseas Comprar Algo: Tablet</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="menu_navegacion_tablet">
        <div>
                <a href="#" class="one_tablet">Iniciar Sesión</a>
                <a href="#" class="two_tablet">¿Quienes somos?</a>
                <a href="#" class="three_tablet">Contactanos</a>
                <a href="#" class="four_tablet">¿Deseas comprar algo?</a>
                <a href="#" class="five_tablet">Trabaja con Nosotros</a>
        </div>
        <div class="caja_opciones_tablet_rest">
            <a href="#" class="restaurante_desplegable_tablet">Restaurante V</a>
            <input type="search" name="busqueda_tablet" class="busqueda_tablet_rest">
            <div class="logo_inicio_sesion_tablet_rest"></div>
            <a href="#" class="inicio_sesion_tablet_rest">Iniciar Sesion</a>
        </div>
    </div>
    <div class="cuadros_menu_rest">
        <div class="opciones_secundarias_tablet_rest">
            <a href="../html_web/home_web.html" class="six_rest">Inicio</a>
            <a href="#" class="seven_rest">Promociones</a>
            <a href="#" class="eight_rest">Cupones de Descuento</a>
            <a href="#" class="nine_rest">Chatbox</a>
            <a href="#" class="ten_rest">Servicio al Cliente</a>
        </div>
    </div>
        <div class="sandwich_tablet">
            <a class="pregunta_sandwich_tablet">¿Se te antoja un buen Sandwich?</a>
            <div class="imagen_sandwich_tablet"></div>
        </div>
        <div class="hamburguesa_alimento_tablet">
            <a class="pregunta_hamburguesa_alimento_tablet">¿Quieres Deleitarte Con Una Hamburguesa?</a>
            <div class="imagen_hamburguesa_alimento_tablet"></div>
        </div>
        <div class="vegetales_tablet">
            <a class="pregunta_vegetales_tablet">¿Los vegetales son tu fuerte?</a>
            <div class="imagen_vegetales_tablet"></div>
        </div>
        <div class="algo_rapido_tablet">
            <a class="pregunta_algo_rapido_tablet">¿Quieres algo rapido?</a>
            <div class="imagen_algo_rapido_tablet"></div>
        </div>
        <div class="lo_mas_pedido_tablet">¡Lo mas Pedido!</div>
        <div class="lmpt1">
            <div class="img_lmpt1"></div>
        </div>
        <div class="lmpt2">
            <div class="img_lmpt2"></div>
        </div>
        <div class="lmpt3">
            <div class="img_lmpt3"></div>
        </div>
        <div class="lmpt4">
            <div class="img_lmpt4"></div>
        </div>
        <a href="#" class="boton_inicio_tablet">¡Ir Hacia el Inicio</a>
    <div class="prefooter_tablet">
        <ul class="elem_pref_tablet1">
            <em><strong><li><a href="#">FoodWays Web</a></li><br>
            <li><a href="#">Registro y Login</a></li><br>
            <li><a href="#">Medios de pago</a></li><br>
            <li><a href="#">Todos los<br>Restaurantes</a></li><br>
            <li><a href="#">Acerca de la<br>Compañia</a></li><bR>
            <li><a href="#">Mision y Vision</a></li><br>
            <li><a href="#">Empleate con un <br>Restaurante</a></li><br></em></strong>
        </ul>
        <ul class="elem_pref_tablet2">
            <em><strong><li><a href="#">Tu Cuenta</a></li><br>
                <li><a href="#">Tus Pedidos</a></li><br>
                <li><a href="#">Tarifas de Envio y<br>Politicas </a></li><br>
                <li><a href="#">Devoluciones y<br>Reemplazos</a></li><br>
                <li><a href="#">Acerca de la<br>Compañia</a></li><bR>
                <li><a href="#">Ayuda</a></li><br>
                <li><a href="#">Consultas</a></li></em></strong>
        </ul>
    </div>
    <div class="footer_tablet">
        <footer class="elementos_footer_tablet">
            <a href="#" class="elem_foot_tablet1">Condiciones de Uso</a>
            <a href="#" class="elem_foot_tablet2">Avisos de Privacidad</a><br>
            <a class="elem_foot_tablet3">2021-2021 &copy FoodWays.com y Asociados</a>
        </footer>
    </div>
</body>
</html>