<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css" />
    <title>Inicio de Pagina Movil</title>
</head>
<body>
    <div class="hamburguesa_movil"></div>
    <div class="logo_empresa_movil"></div>
    <a href="#" class="inicio_sesion_movil">Iniciar Sesion</a>
    <div class="logo_inicio_sesion_movil"></div>
    <div class="logo_carrito_movil"></div>
    <div class="hamburguesa2_movil"></div>
    <div class="opciones_secundarias_movil">
        <div class="osm">
            <a href="#" class="inicio_movil">Inicio</a>
            <a href="#" class="promociones_movil">Promociones</a>
            <a href="#" class="cupones_descuento_movil">Cupones</a>
            <a href="#" class="chatbox_movil">ChatBox</a>
            <a href="#" class="servicio_cliente_movil">Servicio al Cliente</a>
        </div>
    </div>
    <div class="img_frase"></div>
    <div class="anuncio_pedido_movil"></div>
    <div class="anuncio_restaurante_movil"></div>
    <div class="explora_movil"></div>
    <a href="#" class="boton_inicio_movil">¡Ir hacia el Inicio!</a>
    <div class="prefooter_movil">
        <ul class="elem_pref_movil1">
            <em><strong><li><a href="#">FoodWays Web</a></li><br>
            <li><a href="#">Registro y Login</a></li><br>
            <li><a href="#">Medios de pago</a></li><br>
            <li><a href="#">Todos los<br>Restaurantes</a></li><br>
            <li><a href="#">Acerca de la<br>Compañia</a></li><bR>
            <li><a href="#">Mision y Vision</a></li><br>
            <li><a href="#">Empleate con un <br>Restaurante</a></li><br></em></strong>
        </ul>
        <ul class="elem_pref_movil2">
            <em><strong><li><a href="#">Tu Cuenta</a></li><br>
                <li><a href="#">Tus Pedidos</a></li><br>
                <li><a href="#">Tarifas de Envio y<br>Politicas </a></li><br>
                <li><a href="#">Devoluciones y<br>Reemplazos</a></li><br>
                <li><a href="#">Acerca de la<br>Compañia</a></li><bR>
                <li><a href="#">Ayuda</a></li><br>
                <li><a href="#">Consultas</a></li></em></strong>
        </ul>
    </div>
    <div class="footer_movil">
        <footer class="elementos_footer_movil">
            <a href="#" class="elem_foot_movil1">Condiciones de Uso</a>
            <a href="#" class="elem_foot_movil2">Avisos de Privacidad</a><br>
            <a class="elem_foot_movil3">2021-2021 &copy FoodWays.com y Asociados</a>
        </footer>
    </div>
</body>
</html>