<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Inicio de Página</title>
</head>
<body>
    <div class="menu_navegacion">
        <div>
                <a href="#" class="one">Iniciar Sesión</a>
                <a href="#" class="two">¿Quienes somos?</a>
                <a href="#" class="three">Contactanos</a>
                <a href="../html_web/deseas_comprar_algo.html" class="four">¿Deseas comprar algo?</a>
                <a href="#" class="five">Trabaja con Nosotros</a>
        </div>
    </div>
    <!--Menu donde se encuentra Restaurante Desplegable-->
    <div class="caja1"></div>
    <div class="logo_empresa"></div>
    <div class="caja_opciones"></div>
    <div class="restaurante_desplegable"><a href="#">Restaurantes V</a></div>
    <input type="search" name="busqueda" class="busqueda" />
    <div class="lupa_busqueda"></div>
    <div class="logo_usuario"></div>
    <div class="logo_carrito_compras"></div>
    <div class="user_car">
        <a href="#" class="user">USUARIO</a>
        <a href="#" class="car">CARRITO</a>
    </div>
    <div class="opciones_secundarias"></div>
    <div class="hamburguesa"></div>
    <div class="cuadros_menu">
        <div>
            <a href="../html_web/home_web.html" class="six">Inicio</a>
            <a href="#" class="seven">Promociones</a>
            <a href="#" class="eight">Cupones de Descuento</a>
            <a href="#" class="nine">Chatbox</a>
            <a href="#" class="ten">Servicio al Cliente</a>
        </div>
    </div>
    <!--Apartado Tercero-->
    <div class="anuncio"></div>
    <div class="imagen_corporativa"></div>
    <div class="frase_corporativa"></div>
    <!--Anuncio Que Llama La Atencion-->
    <div class="anuncio_pedido"></div>
    <!--Carrusel-->
    <div class="carrusel">
        <div class="cuadros_car">
            <a href="#" class="car1"></a>
            <a href="#" class="car2"></a>
            <a href="#" class="car3"></a>
        </div>
    </div>
    <!--Anuncio de Restaurante-->
    <div class="anuncio_restaurante"></div>
    <div class="explora"></div>
    <!--Boton de Inicio-->
    <a href="#" class="boton_inicio">¡Ir Hacia el Inicio!</a>
    <!--PreFooter-->
    <div class="cuadro_prefooter"></div>
    <div class="semiseccion1">
        <h1 class="tit_pref1">Acerca De</h1>
        <ul>
            <em><strong><li><a href="#">FoodWays Web</a></li>
            <li><a href="#">Registro y Login</a></li>
            <li><a href="#">Medios de Pago</a></li>
            <li><a href="#">Todos los restaurantes</a></li>
            <li><a href="#">Acerca de la Compañia</a></li>
            <li><a href="#">Mision y Vision</a></li>
            <li><a href="#">¡Empleate con un Retarante!</a></li></em></strong>
        </ul>
    </div>
    <div class="semiseccion2">
        <h1 class="tit_pref2">Más Servicios</h1>
        <ul>
            <em><strong><li><a href="#">Tu Cuenta</a></li>
            <li><a href="#">Tus Pedidos</a></li>
            <li><a href="#">Tarifas de Envio y Politicas</a></li>
            <li><a href="#">Devoluciones y Reemplazos</a></li></em></strong>
        </ul>
    </div>
    <div class="semiseccion3">
        <h1 class="tit_pref3">Consultas y Ayuda</h1>
        <ul>
            <em><strong><li><a href="#">Consultas</a></li>
            <li><a href="#">Ayuda</a></li></em></strong>
        </ul>
    </div>
    <div class="semiseccion4">
        <h1 class="iti_pref4">FoodWays Movil</h1>
        <ul>
            <em><strong><li><a href="#">Android</a></li>
            <li><a href="#">iOS</a></li></em></strong>
        </ul>
    </div>
    <!--Footer-->
    <div class="footer">
        <footer class="elementos_footer">
            <a href="#" class="elem_foot1">Condiciones de Uso</a>
            <a href="#" class="elem_foot2">Avisos de Privacidad</a>
            <a class="elem_foot3">2021-2021 &copy FoodWays.com y Asociados</a>
        </footer>
    </div>
</body>
</html>