<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css" />
    <title>Inicio de Pagina: Tablet</title>
</head>
<body>
    <div class="menu_navegacion_tablet">
        <div>
                <a href="#" class="one_tablet">Iniciar Sesión</a>
                <a href="#" class="two_tablet">¿Quienes somos?</a>
                <a href="#" class="three_tablet">Contactanos</a>
                <a href="#" class="four_tablet">¿Deseas comprar algo?</a>
                <a href="#" class="five_tablet">Trabaja con Nosotros</a>
        </div>
    </div>
    <div class="caja_opciones_tablet">
        <a href="#" class="restaurante_desplegable_tablet">Restaurante V</a>
        <input type="search" name="busqueda_tablet" class="busqueda_tablet">
    </div>
    <div class="lupa_busqueda_tablet"></div>
    <div class="logo_inicio_sesion_tablet"></div>
    <a href="#" class="usuario_tablet">USUARIO</a>
    <div class="opciones_secundarias_tablet">
        <div class="ost">
            <a class="hamburguesa_tablet"></a>
            <a href="#" class="inicio_tablet">Inicio</a>
            <a href="#" class="promociones_tablet">Promociones</a>
            <a href="#" class="cupones_descuento_tablet">Cupones de Descuento</a>
            <a href="#" class="chatbox_tablet">ChatBox</a>
            <a href="#" class="servicio_cliente_tablet">Servicio al Cliente</a>
        </div>
    </div>
    <div class="img_frase_tablet"></div>
    <div class="anuncio_pedido_tablet"></div>
    <div class="anuncio_restaurante_tablet"></div>
    <div class="explora_tablet"></div>
    <a href="#" class="boton_inicio_tablet">¡Ir Hacia el Inicio</a>
    <div class="prefooter_tablet">
        <ul class="elem_pref_tablet1">
            <em><strong><li><a href="#">FoodWays Web</a></li><br>
            <li><a href="#">Registro y Login</a></li><br>
            <li><a href="#">Medios de pago</a></li><br>
            <li><a href="#">Todos los<br>Restaurantes</a></li><br>
            <li><a href="#">Acerca de la<br>Compañia</a></li><bR>
            <li><a href="#">Mision y Vision</a></li><br>
            <li><a href="#">Empleate con un <br>Restaurante</a></li><br></em></strong>
        </ul>
        <ul class="elem_pref_tablet2">
            <em><strong><li><a href="#">Tu Cuenta</a></li><br>
                <li><a href="#">Tus Pedidos</a></li><br>
                <li><a href="#">Tarifas de Envio y<br>Politicas </a></li><br>
                <li><a href="#">Devoluciones y<br>Reemplazos</a></li><br>
                <li><a href="#">Acerca de la<br>Compañia</a></li><bR>
                <li><a href="#">Ayuda</a></li><br>
                <li><a href="#">Consultas</a></li></em></strong>
        </ul>
    </div>
    <div class="footer_tablet">
        <footer class="elementos_footer_tablet">
            <a href="#" class="elem_foot_tablet1">Condiciones de Uso</a>
            <a href="#" class="elem_foot_tablet2">Avisos de Privacidad</a><br>
            <a class="elem_foot_tablet3">2021-2021 &copy FoodWays.com y Asociados</a>
        </footer>
    </div>
</body>
</html>