<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro: Tablet</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <form id="register_account" action="" name="registro" method="get">
        <h1 class="titulo_registro">Registro De Usuarios</h1>
        <div class="opciones_registro_nuevo"></div>
            <p>
                <h5>Nombre</h5>
                <label for="nombre">
                <input type="text" name="nombre" id="nombre"></label>
                <br>
            </p>
            <p>
                <h5>Apellido</h5>
                <label for="apellido">
                <input type="text" name="apellido" id="apellido"></label>
                <br>
            </p>
            <p>
                <h5>Celular</h5>
                <label for="celular">
                <input type="text" name="celular" id="celular"></label>
                <br>
            </p>
            <p>
                <h5>Correo</h5>
                <label for="correo">
                <input type="email" name="correo" id="correo"></label>
                <br>
            </p>
            <p>
                <h5>Tipo de Documento</h5>
                <label for="tip_doc">
                <input type="text" name="tip_doc" id="tip_doc"></label>
                <br>
            </p>
            <p>
                <h5>Documento</h5>
                <label for="documento">
                <input type="text" name="documento" id="documento"></label>
                <br>
            </p>
            <p>
                <h5>Direccion</h5>
                <label for="direccion">
                <input type="text" name="direccion" id="direccion"></label>
                <br>
            </p>
            <p>
                <h5>Barrio</h5>
                <label for="barrio">
                <input type="text" name="barrio" id="barrio"></label>
                <br>
            </p>
            <p>
                <h5>Localidad</h5>
                <label for="localidad">
                <input type="text" name="localidad" id="localidad"></label>
                <br>
            </p>
            <tr>
                <td>
                    <input type="submit" name="enviar" id="enviar" value="Registrar">
                </td>
            </tr>
        </div>
    </form>
</body>
</html>