<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Box Model</title>
  </head>
  <body>
    <header>
      <div class="bloqueHeader">
        <div class="logo"><img src="img/logoRayo.png" alt="" /></div>
        <div>
          <nav class="navHeader">
            <ul>
              <li><a href="#" class="detalleBoton">Inicio</a></li>
              <li><a href="#">Promociones</a></li>
              <li><a href="#">ChatBox</a></li>
              <li><a href="#">Servicio al Cliente</a></li>
              <li><a href="#">¡Crea tu cuenta!</a></li>
              <li><a href="./login.html">Iniciar Sesion</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="Inicio">
      <div class="contenedorInicio">
        <div class="contenedorEstilo">
          <div class="Bienvenida">
            <h1>THE BEST WAY TO FIND FOOD</h1>
            <h2>Publica tus sabores</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt 
              at possimus voluptatibus ad, fugiat, tenetur voluptate quibusdam
              minima numquam delectus animi soluta similique minus dolorum
              quaerat quas iusto non. Obcaecati.
            </p>
          </div>

          <div class="imagenPrincipal">
            <img
              src="img\frutaDivertida.jpg"
              alt=""
              class="imagen_frase_corporativa"
            />
          </div>

          </div>
        </div>
      </div>
    </div>

    <div>
      <a href="#"><img src="./img/deseasPedido.png" alt="" class="deseas_realizar_pedido" /></a>
      <a href="#"><img src="./img/anuncioRest.png" alt="" class="anuncia_tu_restaurante" /></a>
    </div>
    <div>
      <img src="./img/mejorForma.png" alt="" class="explora_gusto" />
    </div>
    <div class="irInicio">
      <p>
        <a href="#" class="irAlInicio">¡Ir Hacia El Inicio!</a> 
      </p>
    </div>
    <div class="elementosFooter">
    <footer>
      <div class="cajaFooter">
        <p>
          <ul>
            <li>FoodWays Web</li>
            <li>Registro y Login</li>
            <li>Medios de Pago</li>
            <li>Todos los Restaurantes</li>
            <li>Acerca de la Compañia</li>
            <li>Mision y Vision</li>
            <li>Empleate con un Restaurante</li>
          </ul>
        </p>
        <p class="opcionFooter2">
          <ul>
            <li>Tu Cuenta</li>
            <li>Tus Pedidos</li>
            <li>Tarifas de Envio y Politicas</li>
            <li>Devoluciones y Reemplazos</li>
            <li>Ayuda</li>
            <li>Consultas</li>
          </ul>
        </p>
      </div>
      <div class="datosFinales">
        <a href="#">Condiciones de Uso</a>
        <a href="#">Avisos de Provacidad</a>
        <a>2021-2021 FoodWays.com y Asociados</a>
      </div>
    </footer>
    </div>
  </body>
</html>
