<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body class="bodyLogin">
    <div class="caja">
        <div class="principal_box">
            <div class="second_box">
                <form action="" name="ingreso_usuarios" class="ingresoUsuarios">
                    <div class="tituloIngreso">
                        <h1>Ingreso de Usuarios</h1>
                    </div>
                    <div class="alternativasIngreso">
                        <ul>
                            <li><a href="#" class="ingreso1">Ingresar con Facebook</a></li>
                            <li><a href="#" class="ingreso2">Ingresar con Google</a></li>
                        </ul>
                    </div>
                    <p class="usuarioIngreso">
                    <h3>Usuario</h3>
                    <input type="email" name="user" class="user">
                    </p>
                    <p class="claveIngreso">
                    <h3>Clave</h3>
                    <input type="password" name="clave" class="clave">
                    </p>
                    <p>
                        <input type="submit" name="enviar" id="enviar" value="Ingresar">
                    </p>
                </form>
            </div>
        </div>
        <div class="opcionesRegistroContraseña">
            <a href="#" class="olvidoContraseña">¿Olvidaste tu Contraseña?</a>
            <a href="#" class="registroPersona">¿No tienes una Cuenta? Registrate</a>
        </div>
    </div>
</body>

</html>