<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body class="bodyRegistro">
    <div class="caja">
        <div class="principal_box">
            <div class="second_boxRegistro">
                <form action="" name="registro" id="registro">
                    <div class="tituloRegistro">
                        <h1>Crea tu Cuenta</h1>
                    </div>
                    <div class="opciones1parte">
                        <p class="nombreUsuario">
                            <h3>Nombre</h3>
                            <input type="text" name="nombreUsuario" class="nombreUsuario">
                        </p>
                        <p class="apellidoUsuario">
                            <h3>Apellido</h3>
                            <input type="text" name="apellidoUsuario" class="apellidoUsuario">
                        </p>
                        <p class="celularUsuario">
                            <h3>Celular</h3>
                            <input type="text" name="celularUsuario" class="celularUsuario">
                        </p>
                        <p class="correoUsuario">
                            <h3>Correo</h3>
                            <input type="email" name="correoUsuario" class="correoUsuario">
                        </p>
                        <p class="tipoDocumento">
                            <h3>Tipo de Documento</h3>
                            <input type="text" name="tipoDocumento" class="tipoDocumento">
                        </p>
                        <p class="documentoUsuario">
                            <h3>Documento</h3>
                            <input type="text" name="documentoUsuario" class="documentoUsuario">
                        </p>
                    </div>
                    <div class="opciones2parte">
                        <p class="direccionUsuario">
                            <h3>Direccion</h3>
                            <input type="text" name="direccionUsuario" class="direccionUsuario">
                        </p>
                        <p class="barrioUsuario">
                            <h3>Barrio</h3>
                            <input type="text" name="barrioUsuario" class="barrioUsuario">
                        </p>
                        <p class="localidadUsuario">
                            <h3>Localidad</h3>
                            <input type="text" name="localidadUsuario" class="localidadUsuario">
                        </p>
                        <p class="contrasenaNueva">
                            <h3>Contraseña</h3>
                            <input type="text" name="contrasenaNueva" class="contrasenaNueva">
                        </p>
                        <p class="confirmacionContrasenaNueva">
                            <h3>Confirmar Contraseña</h3>
                            <input type="text" name="confirmacionContrasenaNueva" class="confirmacionContrasenaNueva">
                        </p>
                    </div>
                    <p>
                        <input type="submit" name="registrar" id="registrar" value="Registrar">
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>